.search_template {
  border: solid 2px blue;
  margin-left:25%;
  margin-right:25%;
/*  text-align:center;
*/

}

#results {
  display:inline;
}

#results div {
  display:inline-block;
  width:auto;
  height:auto;
  border:solid 1px blue;
  text-align:center;
  padding:2px;
}

.search_template button.industry {
 padding:10px;
/* float:left;*/
}

.search_template button.location {
  float:right;
  padding:10px;
}

.search_template input {
  clear:both;
  margin-left:40%;

}

.active {
  background-color: lightblue;
 color : white;
  font-weight : bold;
}

.unactive {
  background-color: white;
  color:black;
  font-weight:normal;
}