.user_list {
  float:left;
  padding:20px;
  border:solid 1px lightblue;
}

.search_parameters {
  display:inline-block;
  font-size:.8em;
}

.search_parameters .industry {
  float:left;
  border:solid 1px blue;
}

.search_parameters .location {
  float:left;
  border:solid 1px blue;
}

.search_parameters form {
  float:right;
}